.custom-table-headers {
    background-color: #444444;
    color: #f0ad4e;
}

.custom-rounded-outside-corners {
    &.table th:first-child{
        border-radius: 15px 0 0 0;
    }

    &.table th:last-child{
        border-radius: 0 15px 0 0;
    }
}

table tr {
    border-bottom: 2px solid #A0A0A0;
}

 table tr:last-child {
     border-bottom: none;
 }

