/* You can add global styles to this file, and also import other style files */

.xng-breadcrumb-root {
    padding: 8px 16px;
    display: inline;
    border-radius: 0;
}

label.xng-breadcrumb-trail {
    margin-bottom: 0;
    color: dodgerblue;
}

.xng-breadcrumb-separator {
    padding: 0 0;
}

.top-corners-rounded {
    background-color: #444444;
    color: #f0ad4e;
    border-radius: 15px 15px 0 0;
}

.bottom-corners-rounded {
    background-color: #444444;
    border-radius: 0 0 15px 15px;
}

.StripeElement {
    height: 3.125em;
}
