<div class="container">
    <ul class="nav nav-pills nav-justified">
        <li class="nav-item" *ngFor="let step of steps, let i = index">
            <button
                class="nav-link text-uppercase font-weight-bold btn-block"
                style="padding: 0.9em;"
                (click)="onClick(i)"
                [class.active]="selectedIndex === i"
                [class.left-top-border-radius]="i === 0"
                [class.center-no-radius]="i !== 0 && i !== 3"
                [class.right-top-border-radius]="i === 3"
            >
                {{step.label}} : {{step.completed}}
            </button>
        </li>
    </ul>

    <div>
        <ng-container [ngTemplateOutlet]="selected.content"></ng-container>
    </div>
</div>
