.img-fluid {
    border-left: 5px solid dodgerblue;
    border-top: 5px solid dodgerblue;
    background: #ECEDF3;
    background: linear-gradient(135deg, rgba(236,237,243) 50%, rgba(0,0,0,0) 35%, rgba(0,0,0,0) 100%);
}
