<div class="row my-3 py-5"></div>
<carousel class="pt-5">
    <slide>
        <img src="assets/images/s1.png" alt="first slide" style="display: block; width: 100%">
    </slide>
    <slide>
        <img src="assets/images/s2.png" alt="first slide" style="display: block; width: 100%">
    </slide>
    <slide>
        <img src="assets/images/s3.png" alt="first slide" style="display: block; width: 100%">
    </slide>
</carousel>
<section>
    <div class="d-flex justify-content-center pt-4">
        <h1>Welcome to the <strong>e_store</strong>!</h1>
    </div>
</section>
