<p>checkout-payment works!</p>

<div class="row justify-content-center">
    <div class="col-11">
        <div class="float-none d-flex justify-content-between flex-column flex-lg-row mb-5">
            <button class="btn btn-outline-primary" cdkStepperPrevious>
                <em class="fa fa-angle-left"></em> Back to Review
            </button>

            <button (click)="submitOrder()"
                    class="btn btn-success">
                Submit Order <em class="fa fa-angle-right"></em>
            </button>
        </div>
    </div>
</div>
