<div class="d-flex flex-column flex-md-row align-items-center justify-content-between p-3 px-md-4 mb-3 bg-white border-bottom box-shadow fixed-top"
style="background: rgb(211,211,211);
background: linear-gradient(0deg, rgba(211,211,211) 0%, rgba(0,0,0,0) 35%, rgba(0,0,0,0) 100%);">
    <img src="../../../assets/images/logo.png" alt="logo" class="logo" style="max-height: 70px; max-width: 210px;" routerLink="/" >
    <nav class="my-2 my-md-0 mr-md-3 text-uppercase" style="font-size: larger;">
      <a class="p-2" routerLink="/" routerLinkActive="active"
         [routerLinkActiveOptions]="{exact: true}"><strong>Home</strong></a>
      <a class="p-2" routerLink="/store" routerLinkActive="active"><strong>Shop</strong></a>
      <a class="p-2" routerLink="/test-error" routerLinkActive="active"><strong>Errors</strong></a>
    </nav>
    <div class="d-flex align-items-center">
      <a class="position-relative">
        <em class="fa fa-shopping-cart fa-2x mr-5 text-dark"></em>
        <div class="cart-no">5</div>
      </a>
      <a class="btn btn-outline-secondary mr-2">Login</a>
      <a class="btn btn-outline-secondary mr-3">Sign up</a>
    </div>

  </div>
