<div
    class="d-flex flex-column flex-md-row align-items-center justify-content-between p-3 px-md-4 mb-3 bg-white border-bottom box-shadow fixed-top"
    style="background: rgb(211,211,211);
background: linear-gradient(0deg, rgba(211,211,211) 0%, rgba(0,0,0,0) 35%, rgba(0,0,0,0) 100%);">
    <img src="../../../assets/images/logo.png" alt="logo" class="logo" style="max-height: 70px; max-width: 210px;"
         routerLink="/" (click)="reloadPage()">
    <nav class="my-2 my-md-0 mr-md-3 text-uppercase" style="font-size: larger;">
        <a class="p-2" routerLink="/" routerLinkActive="active"
           [routerLinkActiveOptions]="{exact: true}"><strong>Home</strong></a>
        <a class="p-2" routerLink="/store" routerLinkActive="active"><strong>Shop</strong></a>
<!--        <a class="p-2" routerLink="/test-error" routerLinkActive="active"><strong>Errors</strong></a>-->
    </nav>
    <div class="d-flex align-items-center">
        <a class="position-relative" routerLink="/basket">
            <em class="fa fa-shopping-cart fa-2x mr-5 text-dark"></em>
            <div class="cart-no" *ngIf="(basket$ | async) as basket">{{basket.items.length}}</div>
        </a>

        <ng-container *ngIf="(currentUser$ | async) === null">
            <a class="btn btn-outline-secondary mr-2" routerLink="/account/login">Login</a>
            <a class="btn btn-outline-secondary mr-3" routerLink="/account/register">Sign up</a>
        </ng-container>

        <ng-container *ngIf="currentUser$ | async">
            <div class="dropdown ml-3 mr-5" dropdown>
                <a class="dropdown-toggle" style="cursor: pointer;" dropdownToggle>
                    <strong>Welcome {{(currentUser$ | async).displayName}}</strong>
                </a>
                <div class="dropdown-menu dropdown-menu-right" style="cursor: pointer" *dropdownMenu>
                    <a class="dropdown-item d-flex align-items-center py-2" routerLink="/basket">
                        <em class="fa fa-shopping-cart mr-3"></em> View Basket
                    </a>
                    <a class="dropdown-item d-flex align-items-center py-2" routerLink="/orders">
                        <em class="fa fa-history mr-3"></em> View Orders
                    </a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item d-flex align-items-center py-2" (click)="logout()">
                        <em class="fa fa-sign-out mr-3"></em> Logout
                    </a>
                </div>
            </div>


        </ng-container>
    </div>

</div>
